@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');


/* Reset */
.login-modal::selection{
  background-color: #454553;
  color: #fff;
}
.login-modal>div,.login-modal dl,.login-modal dt,.login-modal dd,.login-modal ul,.login-modal ol,.login-modal li,
.login-modal h1,.login-modal h2,.login-modal h3,.login-modal h4,.login-modal h5,.login-modal form,.login-modal fieldset,
.login-modal p,.login-modal button{
  margin:0;padding:0
}
.login-modal h1,.login-modal h2,.login-modal h3,.login-modal h4,.login-modal input,.login-modal button{
  font-family:'Raleway', sans-serif;font-size:12px;color:#555
}
/*body{*word-break:break-all;-ms-word-break:break-all}*/
.login-modal img,.login-modal fieldset,.login-modal iframe{border:0 none}
.login-modal li{list-style:none}
.login-modal input,.login-modal select,.login-modal button{vertical-align:middle}
.login-modal input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.login-modal button::-moz-focus-inner,
.login-modal input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.login-modal input {
  line-height: normal;
}

.login-wrap{
  width: 	100%;
  height: 100%;
  font-family: 'Raleway';
  background: url(/assets/images/login/bg.jpg) no-repeat center top;
  background-size: cover;
  overflow-y: auto;
}

/*content*/
.login-content{
  clear: both;
}
.login-modal {
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 700px;
  height: 450px;
  padding-bottom: 30px;
  margin-left: -350px;
  margin-top: -225px;
  overflow: hidden;
  border-radius: 20px;
}

.login-modal

  /* Modal Content */
.login-modal-content {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 20px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.login-modal-content form{
  width: 330px;
  margin: 0 auto;
}
.login-modal-content ul li{
  font-size: 16px;
}
.login-modal-content ul li input{
  width: 275px;
  margin-left: 0;
  height: 34px;
  font-size: 15px;
  color: #a9a9a9;
  border: none;
  background: none;
  outline: none;
}
.login-modal-content ul.user_info li{
  border-bottom: 1px solid #ddd;
}
.login-modal-content ul.user_info li.input-add{
  padding-top: 20px;
}
.login-modal-content ul.user_info li input{
  padding-left: 20px;
}
.login-modal-content ul.user_info li input:hover{
  border: none;
}
.login-modal-content ul.user_info li input:nth-child(1) {
  /*background: url(/assets/images/login/ic_person.png) no-repeat 0 50%;*/
  /*background-size: auto;*/
  margin-left: 20px;
}
.login-modal-content ul.user_info li input:nth-child(2) {
  /*background: url(/assets/images/login/ic_lock.png) no-repeat 0 50%;*/
  /*background-size: auto;*/
  margin-left: 20px;
}
.login-modal-content ul.send {
  margin-top: 25px;
}
.login-modal-content ul.send li {
  font-weight:  400;
  text-align: center;
}
.login-modal-content ul.send input {
  width: 134px;
  height: 42px;
  border-radius: 25px;
  border: none;
  background: #008fa1;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.login-modal-content ul.send input:hover {
  background: #00a4ba;
}


/* The submit Button */
.login-modal-header {
  overflow: hidden;
  width: 100%;
  height: 70px;
  background: #2a6575;
}
.login-modal-header h2 {
  padding: 15px 0 16px 36px;
}
.login-modal-body {
  padding: 25px 58px;
}
.login-modal-body h3 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0 40px 0;
}

.login-modal-body .member {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 700;
}
.login-modal-body .member .right {
  float: right;
}
.login-modal-body .member .left {
  float: left;
}
