<div class="loading-container" ng-show="loading"><div loading is-shown="loading" class='loading loading--audioWave'></div></div>
<!--<div class="container">-->
<div class="sidebar-body">
  <div class="row sidebar-row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">Tenant</div>
        <div class="panel-body">

          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Host Name" ng-model="tnt.searchCondition">
            </div>
            <div class="form-group time">
              <button class="btn" ng-click="tnt.getTenantSummary();"></button>
            </div>
          </form>

          <table class="table table-condensed">
            <colgroup>
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
            </colgroup>
            <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">VCPU</th>
              <th class="text-center">Memory (MB)</th>
              <th class="text-center">Instances</th>
              <th class="text-center">Floating IP</th>
              <th class="text-center">Security Group</th>
              <th class="text-center">Volumes</th>
              <th class="text-center">Volume Storage(GB)</th>
              <th class="text-center">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="tnt.tenantSummary" ng-repeat="item in tnt.tenantSummary" ng-click="tnt.selectTenant(item)" class="text-center" ng-class="item.select">
              <td>{{ item.name }}</td>
              <td>{{ tnt.Math.round(item.vcpusUsed) | number }} / {{ tnt.Math.round(item.vcpusLimit) | number }}</td>
              <td>{{ tnt.Math.round(item.memoryMbUsed) | number }} / {{ tnt.Math.round(item.memoryMbLimit) | number }}</td>
              <td>{{ tnt.Math.round(item.instancesUsed) | number }} / {{ tnt.Math.round(item.instancesLimit) | number }}</td>
              <td>{{ tnt.Math.round(item.floatingIpsUsed) | number }} / {{ tnt.Math.round(item.floatingIpsLimit) | number }}</td>
              <td>{{ tnt.Math.round(item.securityGroupsUsed) | number }} / {{ tnt.Math.round(item.securityGroupsLimit) | number }}</td>
              <td>{{ tnt.Math.round(item.volumeStorageUsed) | number }} / {{ tnt.Math.round(item.volumeStorageLimit) | number }}</td>
              <td>{{ tnt.Math.round(item.volumeStorageUsedGb) | number }} / {{ tnt.Math.round(item.volumeStorageLimitGb) | number }}</td>
              <td><span ng-style="textStatusStyle(item.enabled)">{{ item.enabled }}</span></td>
            </tr>
            <tr ng-show="tnt.tenantSummary == null" class="text-center">
              <td colspan="9">No Data Available.</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Instance List <span ng-bind-html="tnt.selectedTenantName"></span>
        </div>
        <div class="panel-body">
          <div class="loading-container" ng-show="tnt.loadingInstanceList">
            <div class='loading loading--audioWave'></div>
          </div>

          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Host Name" ng-model="tnt.searchInstanceName">
            </div>
            <div class="form-group time">
              <button class="btn" ng-click="tnt.searchInstance();"></button>
            </div>
          </form>

          <table class="table table-condensed">
            <colgroup>
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
            </colgroup>
            <thead>
            <tr>
              <th class="text-center">Host Name</th>
              <th class="text-center">CPU Usage</th>
              <th class="text-center">Memory Usage</th>
              <th class="text-center">IP</th>
              <th class="text-center">Zone</th>
              <th class="text-center">Flavor Type</th>
              <th class="text-center">VCPU</th>
              <th class="text-center">Disk</th>
              <th class="text-center">Ram</th>
              <th class="text-center">Created Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="tnt.tenantInstanceList" ng-repeat="item in tnt.tenantInstanceList" class="text-center">
              <td class="text-left link"><a ng-href="#/iaas/tenant/{{ item.instance_id }}?name={{ item.name }}">{{ item.name }}</a></td>
              <td><span ng-style="cpuUsageStyle(Math.floor(item.cpuUsage))">{{ (item.cpuUsage).toFixed(2) | number }}%</span></td>
              <td><span ng-style="memoryUsageStyle(Math.floor(item.memoryUsage))">{{ (item.memoryUsage).toFixed(2) | number }}%</span></td>
              <td><span ng-repeat="address in item.address">{{ address }}<br /></span></td>
              <td>{{ item.zone }}</td>
              <td>{{ item.flavor }}</td>
              <td>{{ item.vcpus | number }}</td>
              <td>{{ item.disk_gb | number }} GB</td>
              <td>{{ item.memory_mb | number }} MB</td>
              <td>{{ item.started_at }}</td>
            </tr>
            <tr ng-show="tnt.tenantInstanceList == null && !tnt.selectedTenant" class="text-center">
              <td colspan="10">Please select the Tenant.</td>
            </tr>
            <tr ng-show="tnt.tenantInstanceList == null && tnt.selectedTenant" class="text-center">
              <td colspan="10">No Data Available.</td>
            </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-info btn-block"
                  ng-show="tnt.tenantInstanceTotalCount > 0" ng-click="tnt.getInstanceList()"
                  ng-disabled="tnt.tenantInstanceList.length >= tnt.tenantInstanceTotalCount">
            <span ng-bind-html="tnt.moreButton"></span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
