<div class="loading-container" ng-show="loading"><div loading is-shown="loading" class='loading loading--audioWave'></div></div>
<div class="sidebar-body">
  <div class="row sidebar-row">
    <div class="col-md-12">
      <div class="panel panel-default" ng-show="name" >
        <div class="panel-heading">
          <span ng-show="name" font-weight="bold" style="color:#007787">[ {{ name }} ]</span>
        </div>
      </div>

      <div class="dashboard">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" data-target="#chart">Chart</a></li>
        </ul>
        <div class="tab-content">
          <div id="chart" class="tab-pane fade in active">
            <div gridster="gridsterOpts" style="min-width:1000px;">
              <ul>
                <li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
                  <div class="box">
                    <div class="box-header">
                      <h4>{{ widget.name }}</h4>
                      <div class="box-header-btns pull-right" ng-show="widget.loading">
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                      </div>
                      <div class="box-header-btns pull-right" ng-hide="widget.loading">
                        <!--<a title="Zoom In" ng-click="expand(widget)" ng-hide="expanded==widget"><i class="glyphicon glyphicon-zoom-in"></i></a>
                        <a title="Zoom Out" ng-click="reduction(widget)" ng-show="expanded==widget"><i class="glyphicon glyphicon-zoom-out"></i></a>
                        <a title="Remove widget" ng-click="removeOneWidget(widget)"><i class="glyphicon glyphicon-trash"></i></a>-->
                      </div>
                    </div>
                    <div class="box-content">
                      <nvd3 options="widget.chart.options" data="widget.chart.data" api="widget.chart.api" config="config" events="events"></nvd3>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin: 20px 0;">
      <div class="col-sm-12">
        <button type="button" class="btn btn-default pull-right medium" data-dismiss="modal" ng-click="goMovePage()">Move Overview</button>
      </div>
    </div>

  </div>
</div>
