<div class="nav-side-menu">
  <div class="menu-list">

    <div class="brand">IaaS-Monitoring</div>
    <ul id="menu-content" class="menu-content out">
      <li ng-class="{'active':selected === 'imn'}" ng-click="goPage('/iaas/manage_node')">
        <a href="#/iaas/manage_node"><i class="fa fa-cog fa-lg"></i> Manage Node </a>
      </li>
      <li ng-class="{'active':selected === 'icn'}" ng-click="goPage('/iaas/compute_node')">
        <a href="#/iaas/compute_node"><i class="fa fa-laptop fa-lg"></i> Compute Node </a>
      </li>
      <li ng-class="{'active':selected === 'itt'}" ng-click="goPage('/iaas/tenant')">
        <a href="#/iaas/tenant"><i class="fa fa-id-card fa-lg"></i> Tenant </a>
      </li>
      <li ng-class="{'active':selected === 'ial'}" data-toggle="collapse" data-target="#almSub" class="collapsed" aria-expanded="{{ alarmSelected }}">
        <a><i class="fa fa-bell fa-lg"></i> Alarm <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" ng-class="{'in':alarmSelected === true}" id="almSub" aria-expanded="{{ alarmSelected }}">
        <li ng-class="{'active':subSelected === 'ialn'}" ng-click="goPage('/iaas/alarm/notification')">
          <a href="#/iaas/alarm/notification"> Notification </a>
        </li>
        <li ng-class="{'active':subSelected === 'iapc'}" ng-click="goPage('/iaas/alarm/policy')">
          <a href="#/iaas/alarm/policy"> Policy </a>
        </li>
        <li ng-class="{'active':subSelected === 'ials'}" ng-click="goPage('/iaas/alarm/status')">
          <a href="#/iaas/alarm/status"> Status </a>
        </li>
      </ul>
    </ul>

  </div>
</div>
