.nav-side-menu {
  overflow: auto;
  font-size: 14px;
  color: #293133;
  background-color: #fff;
  position: fixed;
  top: 70px;
  width: 200px;
  height: 100%;
  box-shadow: 1px 0px 15px #409ab2;
}

.nav-side-menu .brand {
  border-bottom: 1px solid #cccccc;
  line-height: 80px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 50px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 15px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu li {
  padding-left: 0px;
  border-left: 10px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #333440;
}
.nav-side-menu li a i {
  padding: 0 25px 0 15px;
  width: 20px;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-top: 1px solid #2a6575;
  border-bottom: 1px solid #2a6575;
  border-left: 10px solid #2a6575;
  background-color: #f1f1f1;
}
.nav-side-menu li:hover {
  border-left: 10px solid #2a6575;
  background-color: #f4f4f4;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.nav-side-menu ul .active > a,
.nav-side-menu li .active > a {
  color: #2a6575;
  font-weight: bold;
}
.nav-side-menu li:hover > a {
  color: #2a6575;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  border: none;
  line-height: 40px;
  border-right: 5px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-left: 0px;
  font-size: 13px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover,
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  background-color: #ffffff;
  border-right: 5px solid #2a6575;
}
.nav-side-menu ul .sub-menu li:hover a,
.nav-side-menu li .sub-menu li:hover a,
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #2a6575;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 30px;
  padding-right: 15px;
  vertical-align: middle;
}


@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    top: 0;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    /*position: absolute;*/
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

/* Issue Managent */
.overflow-ellipsis {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
