<div class="loading-container" ng-show="loading"><div loading is-shown="loading" class='loading loading--audioWave'></div></div>
<div class="sidebar-body">
  <div class="row sidebar-row">

    <div class="summary-gridster" gridster="overviewOptions" style="margin-bottom:25px;">
      <ul>
        <li gridster-item="item" data-toggle="modal" data-target="#paastaOverviewList" ng-repeat="item in paastaOverviewItems" ng-click="ppst.getPaastaOverviewList(item, $event)"
            ng-style="{'border-bottom-color': item.color, 'cursor': (item.id == 'running' || item.id == 'total') && 'initial', 'background-color':'#333740'}">
          <div class="box">
            <div class="box-content">
              <div class="left">
                <div class="row">
                  <div ng-style="{'color': item.color, 'font-size':'xx-large', 'font-weight':'bold'}">{{ this[item.status] || 0 }}</div>
                </div>
                <div class="row">
                  <div>{{ item.name }}</div>
                </div>
              </div>
              <div class="right" ng-style="{'background-image': 'url(assets/images/overview/overview_icon0'+{{ $index+1 }}+'.png)'}">
                <div class="box-header-btns pull-right" ng-show="loadingOverview">
                  <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          PaaS-TA Summary
        </div>
        <div class="panel-body">
          <form class="form-inline">
            <!--<div class="form-group">-->
              <!--<select class="form-control" ng-model="selSearchStatus">-->
                <!--<option value="">ALL</option>-->
                <!--<option value="running">RUNNING</option>-->
                <!--<option value="warning">WARNING</option>-->
                <!--<option value="critical">CRITICAL</option>-->
                <!--<option value="failed">FAILED</option>-->
              <!--</select>-->
            <!--</div>-->
            <div class="form-group">
              <select class="form-control" ng-model="selSearchCondition">
                <option value="name">Name</option>
                <option value="ip">IP</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchKeyword">
            </div>
            <div class="form-group time">
              <button class="btn" ng-click="ppst.getPaastaSummary();"></button>
            </div>
          </form>
          <table class="table paas">
            <colgroup>
              <col style="width:10%;">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
            </colgroup>
            <thead>
              <tr>
                <th rowspan="2" class="text-center">Name</th>
                <th rowspan="2" class="text-center">Address</th>
                <th rowspan="2" class="text-center">State</th>
                <th rowspan="2" class="text-center">Core</th>
                <th rowspan="2" class="text-center">CPU Used<br />(%)</th>
                <th rowspan="2" class="text-center">Total Memory<br />(MB)</th>
                <th rowspan="2" class="text-center">Memory Usage<br />(%)</th>
                <th colspan="2" class="text-center">Total Disk(MB)</th>
                <th rowspan="2" class="text-center">Disk Status</th>
              </tr>
              <tr>
                <th class="text-center">/</th>
                <th class="text-center">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" ng-repeat="item in ppst.paastaSummary" ng-class="item.select" ng-click="ppst.getTopProcessMemoryList(item)" >
                <td class="link"><a ng-click="ppst.goPaastaDetail(item);">{{ item.name }}</a></td>
                <td>{{ item.address }}</td>
                <td><span ng-class="ppst.common.alarmLevelStyle(item.state)">{{ item.state }}</span></td>
                <td>{{ item.core }}</td>
                <td><span ng-style="errStateStyle(item.cpuErrStat)">{{ (item.cpuUsage).toFixed(2) | number }} %</span></td>
                <td>{{ ppst.Math.round(item.totalMemory) | number }}</td>
                <td><span ng-style="errStateStyle(item.memErrStat)">{{ (item.memoryUsage).toFixed(2) | number }} %</span></td>
                <td><span ng-style="errStateStyle(item.diskRootErrStat)">{{ ppst.Math.round(item.totalDisk) | number }}</span></td>
                <td><span ng-style="errStateStyle(item.diskDataErrStat)">{{ ppst.Math.round(item.dataDisk) | number }}</span></td>
                <td><span ng-class="ppst.common.alarmLevelStyle(item.diskStatus)">{{ item.diskStatus }}</span></td>
              </tr>
              <tr ng-show="ppst.paastaSummary == null" class="text-center">
                <td colspan="10">No Data Available.</td>
              </tr>
            </tbody>
          </table>

          <div class="row-pagination">
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                items-per-page="pageItems" class="pagination-md" direction-links="false" boundary-links="false"
                boundary-link-numbers="true" force-ellipses="true" ng-change="pageChanged()"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </ul>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Top Process <span ng-bind-html="ppst.selectedPaasta"></span>
        </div>
        <div class="panel-body">
          <table class="table process">
            <colgroup>
              <col style="width:10%;">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
            </colgroup>
            <thead>
              <tr>
                <th class="text-center">Index</th>
                <th class="text-center">Time</th>
                <th class="text-center">PID</th>
                <th class="text-center">Process</th>
                <th class="text-center">Memory (MB)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" ng-repeat="item in ppst.topProcessMemoryList">
                <td>{{ item.index }}</td>
                <td>{{ item.time }}</td>
                <td>{{ item.pid }}</td>
                <td>{{ item.process }}</td>
                <td>{{ ppst.Math.round(item.memory) | number }}</td>
              </tr>
              <tr ng-show="ppst.topProcessMemoryList == null" class="text-center">
                <td colspan="5">No Data Available.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal - PaaS-TA Overview List -->
<div class="modal fade" id="paastaOverviewList" tabindex="-1" role="dialog" aria-labelledby="paastaOverviewListModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="min-width:620px; overflow-x: auto">
      <div class="loader-container" ng-show="loadingOverviewListPop"><div class='loader loader--audioWave'></div></div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="paastaOverviewListModalLabel">{{ ppst.paastaOverviewPopTitle }}</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed">
          <colgroup>
            <col style="width:10%;">
            <col style="">
            <col style="">
            <col style="">
            <col style="">
            <col style="">
            <col style="">
            <col style="">
            <col style="">
          </colgroup>
          <thead>
            <tr>
              <th rowspan="2" class="text-center">Name</th>
              <th rowspan="2" class="text-center">Address</th>
              <th rowspan="2" class="text-center">State</th>
              <th rowspan="2" class="text-center">Core</th>
              <th rowspan="2" class="text-center">CPU Used<br />(%)</th>
              <th rowspan="2" class="text-center">Total Memory<br />(MB)</th>
              <th rowspan="2" class="text-center">Memory Usage<br />(%)</th>
              <th colspan="2" class="text-center">Total Disk(MB)</th>
              <th rowspan="2" class="text-center">Disk Status</th>
            </tr>
            <tr>
              <th class="text-center">/</th>
              <th class="text-center">Data</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in ppst.paastaOverviewListPop" class="text-center" ng-click="ppst.goPaastaDetailView(item)" ng-style="{'cursor': (item.status == 'fail') && 'initial' }">
            <td>{{ item.name }}</td>
            <td>{{ item.address }}</td>
            <td><span ng-style="textStatusStyle(item.state)">{{ item.state }}</span></td>
            <td>{{ item.core | number }}</td>
            <td><span ng-style="errStateStyle(item.cpuErrStat)">{{ (item.cpuUsage).toFixed(2) | number }}</span></td>
            <td>{{ ppst.Math.round(item.totalMemory) | number }}</td>
            <td><span ng-style="errStateStyle(item.memErrStat)">{{ (item.memoryUsage).toFixed(2) | number }}</span></td>
            <td><span ng-style="errStateStyle(item.diskRootErrStat)">{{ ppst.Math.round(item.totalDisk) | number }}</span></td>
            <td><span ng-style="errStateStyle(item.diskDataErrStat)">{{ ppst.Math.round(item.dataDisk) | number }}</span></td>
            <td><span ng-class="ppst.common.alarmLevelStyle(item.diskStatus)">{{ item.diskStatus }}</span></td>
          </tr>
          <tr ng-show="ppst.paastaOverviewNullPop" class="text-center">
            <td colspan="10">{{ ppst.paastaOverviewNullPop }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
