<div class="loading-container" ng-show="loading"><div loading is-shown="loading" class='loading loading--audioWave'></div></div>
<!--<div class="container">-->
<div class="sidebar-body">
  <div class="row sidebar-row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          Manage Node Summary
        </div>
        <div class="panel-body">

          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Host Name" ng-model="mnd.searchCondition">
            </div>
            <div class="form-group time">
              <button class="btn" ng-click="mnd.getManageNodeSummary();"></button>
            </div>
          </form>

          <div class="loading-container" ng-show="mnd.loadingSummary">
            <div class='loading loading--audioWave'></div>
          </div>
          <table class="table">
            <colgroup>
              <col style="width:10%;">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
            </colgroup>
            <thead>
            <tr>
              <th class="text-center">Host Name</th>
              <th class="text-center">Memory (MB)</th>
              <th class="text-center">Disk (GB)</th>
              <th class="text-center">CPU Usage</th>
              <th class="text-center">Memory Usage</th>
              <th class="text-center">Disk Usage</th>
              <th class="text-center">Agent Status</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" ng-show="mnd.manageNodeSummary" ng-repeat="item in mnd.manageNodeSummary"
                ng-click="getTopProcessByHostname(item)" ng-class="item.select">
              <td class="text-left link"><a ng-href="#/iaas/manage_node/{{ item.hostname }}">{{ item.hostname }}</a></td>
              <td>{{ mnd.Math.round(item.memoryUsedMb) | number }} / {{ mnd.Math.round(item.memoryMbMax) | number }}</td>
              <td>{{ mnd.Math.round(item.diskGbUsed) | number }} / {{ mnd.Math.round(item.diskGbMax) | number }}</td>
              <td><span ng-style="cpuUsageStyle(Math.floor(item.cpuUsage))">{{ (item.cpuUsage).toFixed(2) | number }}%</span></td>
              <td><span ng-style="memoryUsageStyle(Math.floor(item.memoryUsage))">{{ (item.memoryUsage).toFixed(2) | number }}%</span></td>
              <td><span ng-style="diskUsageStyle(Math.floor(item.diskUsage))">{{ (item.diskUsage).toFixed(2) | number }}%</span></td>
              <td><span ng-style="textStatusStyle(item.agentStatus)">{{ item.agentStatus }}</span></td>
            </tr>
            <tr ng-show="mnd.manageNodeSummary == null" class="text-center">
              <td colspan="7">No Data Available.</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              CPU Used by Process <span ng-bind-html="mnd.selectedManageNode"></span>
            </div>
            <div class="panel-body">
              <table class="table process">
                <colgroup>
                  <col style="">
                  <col style="">
                  <col style="">
                </colgroup>
                <thead>
                <tr>
                  <th class="text-center">Index</th>
                  <th class="text-center">Process Name</th>
                  <th class="text-center">CPU Usage</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="mnd.topProcessCpuList" ng-repeat="item in mnd.topProcessCpuList" class="text-center">
                  <td>{{ item.index }}</td>
                  <td>{{ item.processName }}</td>
                  <td><span ng-style="memoryUsageStyle(Math.floor(item.usage))">{{ (item.usage).toFixed(2) | number }} %</span></td>
                </tr>
                <tr ng-show="mnd.topProcessCpuList == null" class="text-center">
                  <td colspan="3">Please select the Manage node.</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              Memory Used by Process <span ng-bind-html="mnd.selectedManageNode"></span>
            </div>
            <div class="panel-body">
              <table class="table process">
                <colgroup>
                  <col style="">
                  <col style="">
                  <col style="">
                </colgroup>
                <thead>
                <tr>
                  <th class="text-center">Index</th>
                  <th class="text-center">Process Name</th>
                  <th class="text-center">Memory Used</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="mnd.topProcessMemoryList" ng-repeat="item in mnd.topProcessMemoryList" class="text-center">
                  <td>{{ item.index }}</td>
                  <td>{{ item.processName }}</td>
                  <td><span ng-style="memoryUsageStyle(Math.floor(item.usage))">{{ (item.usage).toFixed(2) | number }} MB</span></td>
                </tr>
                <tr ng-show="mnd.topProcessMemoryList == null" class="text-center">
                  <td colspan="3">Please select the Manage node.</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Message Queue Status
        </div>
        <div class="panel-body">
          <h4>Global counts</h4>
          <div class="row">
            <div class="col-xs-4 col-md-2">
              <button type="button" class="btn btn-info btn-block" ng-click="mnd.goMessageQueue('connections')">
                Connections: <strong>{{ mnd.messageQueue.connections }}</strong>
              </button>
            </div>
            <div class="col-xs-4 col-md-2 col-half-offset">
              <button type="button" class="btn btn-info btn-block" ng-click="mnd.goMessageQueue('channels')">
                Channels: <strong>{{ mnd.messageQueue.channels }}</strong>
              </button>
            </div>
            <div class="col-xs-4 col-md-2 col-half-offset">
              <button type="button" class="btn btn-info btn-block" ng-click="mnd.goMessageQueue('exchanges')">
                Exchanges: <strong>{{ mnd.messageQueue.exchanges }}</strong>
              </button>
            </div>
            <div class="col-xs-4 col-md-2 col-half-offset">
              <button type="button" class="btn btn-info btn-block" ng-click="mnd.goMessageQueue('queues')">
                Queues: <strong>{{ mnd.messageQueue.queues }}</strong>
              </button>
            </div>
            <div class="col-xs-4 col-md-2 col-half-offset">
              <button type="button" class="btn btn-info btn-block" style="cursor:default;">
                Consumers: <strong>{{ mnd.messageQueue.consumers }}</strong>
              </button>
            </div>
          </div>

          <div class="row">&nbsp;</div>

          <h4>Node</h4>
          <div class="row">
            <div class="col-xs-4 col-md-2">
              File Descriptions
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="min-width: 2em; max-width: 100%" ng-style="{width: mnd.filePerc+'%'}">
                  {{ mnd.filePerc }}%
                </div>
              </div>
              {{ (mnd.messageQueue.NodeResources.fileDescriptorUsed).toFixed(2) | number }} / {{ (mnd.messageQueue.NodeResources.fileDescriptorTotal).toFixed(2) | number }}
            </div>
            <div class="col-xs-4 col-md-2 col-half-offset">
              Socket Descriptions
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="min-width: 2em; max-width: 100%" ng-style="{width: mnd.socketPerc+'%'}">
                  {{ mnd.socketPerc }}%
                </div>
              </div>
              {{ (mnd.messageQueue.NodeResources.socketsUsed).toFixed(2) | number }} / {{ (mnd.messageQueue.NodeResources.socketsLimit).toFixed(2) | number }}
            </div>
            <div class="col-xs-4 col-md-2 col-half-offset">
              Erlang Processes
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="min-width: 2em; max-width: 100%" ng-style="{width: mnd.erlangPerc+'%'}">
                  {{ mnd.erlangPerc }}%
                </div>
              </div>
              {{ (mnd.messageQueue.NodeResources.erlangProcessUsed).toFixed(2) | number }} / {{ (mnd.messageQueue.NodeResources.erlangProcessLimit).toFixed(2) | number }}
            </div>
            <div class="col-xs-4 col-md-2 col-half-offset">
              Memory
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="min-width: 2em; max-width: 100%" ng-style="{width: mnd.memoryPerc+'%'}">
                  {{ mnd.memoryPerc }}%
                </div>
              </div>
              {{ (mnd.messageQueue.NodeResources.memoryMbUsed).toFixed(2) | number }} / {{ (mnd.messageQueue.NodeResources.memoryMbLimit).toFixed(2) | number }}
            </div>
            <div class="col-xs-4 col-md-2 col-half-offset">
              Disk Space
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="min-width: 2em; max-width: 100%" ng-style="{width: mnd.diskPerc+'%'}">
                  {{ mnd.diskPerc }}%
                </div>
              </div>
              {{ (mnd.messageQueue.NodeResources.diskMbLimitFree).toFixed(2) | number }} / {{ (mnd.messageQueue.NodeResources.diskMbFree).toFixed(2) | number }}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
