<div class="loader-container" ng-show="loading"><div class='loader loader--audioWave'></div></div>
<content id="content">
    <section>
        <div class="tb_area">
            <table>
                <tr>
                    <th>서비스 타입</th>
                    <td>{{ common.getOriginTypeString(alarm.originType) }}</td>
                </tr>
                <tr>
                    <th>서비스 명</th>
                    <td>{{ alarm.originName }}</td>
                </tr>
                <tr>
                    <th>IP</th>
                    <td>{{ alarm.ip }}</td>
                </tr>
                <tr>
                    <th>알람 타입</th>
                    <td>{{ common.getResourceTypeString(alarm.alarmType) }}</td>
                </tr>
                <tr>
                    <th>알람 등급</th>
                    <td><span style="text-transform: uppercase;" ng-class="common.alarmLevelStyle(alarm.level)">{{ alarm.level }}</span></td>
                </tr>
                <tr>
                    <th>알람 제목</th>
                    <td>{{ alarm.alarmTitle }}</td>
                </tr>
                <tr>
                    <th>알람 상세내용</th>
                    <td>{{ alarm.alarmMessage }}</td>
                </tr>
                <tr>
                    <th>알람 발생일시</th>
                    <td>{{ alarm.regDate }}</td>
                </tr>
            </table>
            <div class="accept_box" ng-if="alarm.resolveStatus == 1" >
                <div class="sub-btn" align="right" style="padding-top: 10px;">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal" ng-click="confirmAccept()">Accept</button>
                    <button type="button" class="btn btn-default" ng-click="go('#/almLst')" >Cancel</button>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="bt_con" ng-hide="alarm.resolveStatus == 1">
            <div class="re_box" ng-if="alarm.resolveStatus != 1">
                <h2>조치이력</h2>
                <div class="con_box" ng-repeat="action in alarm.data">
                    <div class="txt_box">
                        <p class="date">{{ action.regDate }}</p>
                        <pre ng-hide="modifying==$index" class="info">{{ action.alarmActionDesc }}</pre>
                        <div class="detail_box"><textarea ng-show="modifying==$index" ng-model="action.alarmActionDesc"></textarea></div>
                    </div>
                    <div class="btn">
                        <button class="edit" title="수정하기" ng-hide="modifying==$index" ng-click="setModifying($index)">수정</button>
                        <button class="delete" title="삭제하기" ng-hide="modifying==$index" data-toggle="modal" data-target="#confirmModal" ng-click="confirmActionDelete(action.id)">삭제</button>
                        <button class="edit" title="저장하기" ng-show="modifying==$index" data-toggle="modal" data-target="#confirmModal" ng-click="confirmActionModify(action)">저장</button>
                        <button class="" title="취소하기" ng-show="modifying==$index" ng-click="modifying=-1">취소</button>
                    </div>
                </div>
            </div>
            <div class="detail_box" ng-if="alarm.resolveStatus != 1" >
                <h2>조치내용 상세</h2>
                <div class="detail_con">
                    <textarea ng-model="$parent.actionDesc"></textarea>
                    <div class="sub-btn">
                        <button class="btn btn-success" ng-click="createAction()">저장 (조치내용만 입력)</button>
                        <button class="btn btn-primary" ng-if="alarm.resolveStatus == 2" ng-click="resolve()">조치완료 (조치내용도 함께 입력)</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</content>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-size: 15px">{{ modalTitle }}</h4>
            </div>
            <div class="modal-body">
                {{ modalMessage }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="confirmCallback()">Accept</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
