<div class="loader-container" ng-show="loading"><div class='loader loader--audioWave'></div></div>
<content id="content">
    <section>
        <div class="sec_area">
            <div class="top_con">
                <div class="select">
                    <select class="sel" ng-model="selOriginType">
                        <option value="">대상 전체</option>
                        <option value="pas">PaaS-TA</option>
                        <option value="bos">Bosh</option>
                        <option value="con">Container</option>
                    </select>
                </div>
                <div class="select">
                    <select class="sel" ng-model="selAlarmType">
                        <option value="">자원유형 전체</option>
                        <option value="cpu">CPU</option>
                        <option value="memory">Memory</option>
                        <option value="disk">Disk</option>
                    </select>
                </div>
                <div class="select">
                    <select class="sel" ng-model="selLevel">
                        <option value="">Alarm 등급 전체</option>
                        <option value="warning">Warning</option>
                        <option value="critical">Critical</option>
                    </select>
                </div>
                <div class="select">
                    <select class="sel" ng-model="selResolveStatus">
                        <option value="">Alarm 상태 전체</option>
                        <option value="1">Alarm 발생</option>
                        <option value="2">Alarm 처리중</option>
                        <option value="3">Alarm 처리완료</option>
                    </select>
                </div>
                <form class="form-inline">
                    <div class="form-group time">
                        <div class="form-group">
                            <div class="input-group date" datetimepicker options="optionsFrom" ng-model="dateFrom" ng-change="updateTimeRange(dateFrom, dateTo)">
                                <input class="form-control dateTime" placeholder="From Date">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        ~
                        <div class="form-group">
                            <div class="input-group date" datetimepicker options="optionsTo" ng-model="dateTo" ng-change="updateTimeRange(dateFrom, dateTo)">
                                <input class="form-control dateTime" placeholder="To Date">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <button ng-click="getAlarms()"></button>
                    </div>
                </form>
            </div>
            <div class="mid_con">
                <div class="list_tb">
                    <table>
                        <colgroup>
                            <col style="width:15%;">
                            <col style="width:10%;">
                            <col style="width:12%;">
                            <col style="width:8%;">
                            <col style="">
                            <col style="width:8%;">
                            <col style="width:12%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="text-center">발생일시</th>
                            <th class="text-center">서비스타입</th>
                            <th class="text-center">서비스명</th>
                            <th class="text-center">IP</th>
                            <th class="text-center">제목</th>
                            <th class="text-center">등급</th>
                            <th class="text-center">조치상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in issues" class="text-center">
                            <td>{{ item.regDate }}</td>
                            <td>{{ common.getOriginTypeString(item.originType) }}</td>
                            <td>{{ item.originName || item.originId }}</a></td>
                            <td>{{ item.ip }}</td>
                            <td class="overflow-ellipsis" title="{{ item.alarmTitle }}" data-toggle="tooltip" data-placement="auto" style="text-align:center;">
                                <a ng-href="#/almLst/{{ item.id }}">{{ item.alarmTitle }}</a>
                            </td>
                            <td><span ng-class="common.alarmLevelStyle(item.level)">{{ item.level }}</span></td>
                            <td><span ng-class="common.resolveStatusStyle(item.resolveStatus)">{{ item.resolveStatusName }}</span></td>
                        </tr>
                        <tr ng-show="issues == null || issues.length == 0">
                            <td colspan="7" style="text-align:center;"><span>No Data Available.</span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row-pagination">
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="pageItems" class="pagination-md"
                            direction-links="false" boundary-links="false" boundary-link-numbers="true" force-ellipses="true" ng-change="pageChanged()"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</content>
