<nav class="navbar navbar-inverse navbar-static-top custom-nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <img src="images/logo.png" alt="PaaS-TA Monitor" title="PaaS-TA Monitor">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':selected === 'als'}" ng-click="selected = 'als'"><a href="#/almLst">알람 현황</a></li>
                <li ng-class="{'active':selected === 'ast'}" ng-click="selected = 'ast'"><a href="#/almStt">알람 통계</a></li>
                <li ng-class="{'active':selected === 'ase'}" ng-click="selected = 'ase'"><a href="#/almSet">알람 설정</a></li>
                <li ng-class="{'active':selected === 'con'}" ng-click="selected = 'con'"><a href="#/ctnPst">컨테이너 배치현황</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Modal -->
<div class="modal fade" id="alarmList" tabindex="-1" role="dialog" aria-labelledby="alarmListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="alarmListModalLabel" style="font-size: 15px">Alarms</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed">
                    <colgroup>
                        <col style="width:13%;">
                        <col style="width:12%;">
                        <col style="width:12%;">
                        <col style="width:10%;">
                        <col style="">
                        <col style="width:10%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="text-center">발생일시</th>
                        <th class="text-center">서비스타입</th>
                        <th class="text-center">서비스명</th>
                        <th class="text-center">IP</th>
                        <th class="text-center">제목</th>
                        <th class="text-center">등급</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in modalAlarms" class="text-center">
                        <td>{{ item.regDate }}</td>
                        <td>{{ common.getOriginTypeString(item.originType) }}</td>
                        <td class="link">{{ item.originName || item.originId }}</td>
                        <td>{{ item.ip }}</td>
                        <td class="overflow-ellipsis" title="{{ item.alarmTitle }}" data-toggle="tooltip" data-placement="auto" style="text-align:center;">
                            <a ng-href="#/almLst/{{ item.id }}" style="color:#262dff;">{{ item.alarmTitle }}</a>
                        </td>
                        <td><span ng-class="common.alarmLevelStyle(item.level)">{{ item.level }}</span></td>
                    </tr>
                    <tr ng-show="modalAlarms == null || modalAlarms.length == 0">
                        <td colspan="6" style="text-align:center;"><span>No Data Available.</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
