<div class="loading-container" ng-show="loading"><div class='loading loading--audioWave'></div></div>
<div class="login-wrap">
  <content class="login-content">
    <section class="login">
      <div id="myModal" class="login-modal">
        <!-- Modal content -->
        <div class="login-modal-content">
          <div class="login-modal-header">
              <h2><img src="assets/images/logo.png"></h2>
          </div>
          <div class="login-modal-body">
            <h3>Welcome</h3>
            <form>
              <ul class="user_info">
                <li>
                  <img src="assets/images/login/ic_person.png">
                  <input type="text" name="name" placeholder="이메일을 입력하세요." ng-model="login.email">
                </li>
                <li class="input-add">
                  <img src="assets/images/login/ic_lock.png">
                  <input type="Password" name="Password" placeholder="비밀번호를 입력하세요." ng-model="login.password">
                </li>
              </ul>
              <ul class="send">
                <li>
                  <input type="submit" name="login" value="로그인" ng-click="login.login()">
                </li>
              </ul>
            </form>
            <div class="member">
              <!--<div class="left">-->
                <!--<a data-toggle="modal" data-target="#findIdModal">아이디 찾기</a>-->
                <!--&nbsp;&nbsp;|&nbsp;&nbsp;-->
                <!--<a data-toggle="modal" data-target="#findPwModal">비밀번호 찾기</a>-->
              <!--</div>-->
              <div style="float:right;font-size:16px;">
                <a href="#/member/join" >회원가입</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </content>
</div>
