<div class="loading-container" ng-show="loading"><div loading is-shown="loading" class='loading loading--audioWave'></div></div>
<!--<div class="container">-->
<div class="sidebar-body">
  <div class="row sidebar-row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          Alarm Status
        </div>
        <div class="panel-body">

          <form class="form-inline">
            <select class="form-control" ng-model="ast.selectedSeverity">
              <option value="">Severity ALl</option>
              <option value="CRITICAL">CRITICAL</option>
              <option value="HIGH">WARNING</option>
            </select>
            <select class="form-control" ng-model="ast.selectedState">
              <option value="">State All</option>
              <option value="ALARM">ALARM</option>
              <option value="OK">OK</option>
              <option value="UNDETERMINED">UNDETERMINED</option>
            </select>
            <div class="form-group time">
              <button class="btn" ng-click="ast.searchAlarmStatus();"></button>
            </div>
          </form>

          <table class="table table-condensed">
            <colgroup>
              <col style="width:15%;" />
              <col style="" />
              <col style="width:8%;" />
              <col style="width:8%;" />
              <col style="width:20%;" />
              <col style="width:10%;" />
              <col style="width:10%;" />
            </colgroup>
            <thead>
              <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Host Name</th>
                <th class="text-center">Type</th>
                <th class="text-center">Zone</th>
                <th class="text-center">Alarm Definition Name</th>
                <th class="text-center">Alarm Severity</th>
                <th class="text-center">Alarm State</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-show="ast.alarmStatusList.length > 0" ng-repeat="item in ast.alarmStatusList" class="text-center">
              <td>{{ item.updateTime }}</td>
              <td class="link"><a ng-href="#/iaas/alarm/status/{{ item.id }}">{{ item.hostname }}</a></td>
              <td>{{ item.type }}</td>
              <td>{{ item.zone }}</td>
              <td>{{ item.alarmDefinitionName }}</td>
              <td><span ng-class="alarmSeverityClass(item.severity)">{{ item.severity }}</span></td>
              <td>{{ item.state }}</td>
            </tr>
            <tr ng-show="ast.alarmStatusList.length == 0" class="text-center">
              <td colspan="6">No Data Available.</td>
            </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-info btn-block"
                  ng-show="ast.totalCount > 0" ng-click="ast.getAlarmStatusList()"
                  ng-disabled="ast.alarmStatusList.length >= ast.totalCount">
            <span ng-bind-html="ast.moreButton"></span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
