<div class="loading-container" ng-show="loading"><div loading is-shown="loading" class='loading loading--audioWave'></div></div>
<!--<div class="container">-->
<div class="sidebar-body">
  <div class="row sidebar-row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          Alarm Policy
        </div>
        <div class="panel-body">
          <div class="form-inline" style="margin-bottom: 20px;">
            <a href="#/iaas/alarm/policy/new">
              <button class="btn btn-primary small" data-toggle="modal" data-target="#alarmPolicyModal">Create</button>
            </a>
            <button class="btn btn-danger small" ng-show="alp.checkedCnt > 0" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>

          <form class="form-inline">
            <select class="form-control" ng-model="alp.selectedSeverity">
              <option value="">Severity 전체</option>
              <option value="CRITICAL">CRITICAL</option>
              <option value="HIGH">WARNING</option>
            </select>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Full Name" ng-model="alp.searchCondition">
            </div>
            <div class="form-group time">
              <button class="btn" ng-click="alp.searchAlarmPolicy();"></button>
            </div>
          </form>

          <table class="table table-condensed">
            <colgroup>
              <col style="">
              <col style="">
              <col style="">
              <col style="">
              <col style="">
            </colgroup>
            <thead>
              <tr>
                <th class="text-center"><input type="checkbox" ng-model="alp.selectAll" ng-click="alp.checkAllPolicy()" ng-checked="alp.checkedCnt == alp.alarmPolicyList.length"></th>
                <th class="text-left">Name</th>
                <th class="text-left">Expression</th>
                <th class="text-center">Match By</th>
                <th class="text-center">Severity</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="alp.alarmPolicyList.length > 0" ng-repeat="item in alp.alarmPolicyList" class="text-center">
                <td><input type="checkbox" ng-click="alp.checkPolicy(item)" ng-model="item.select"></td>
                <!--<td class="text-left link"><a href data-toggle="modal" data-target="#alarmPolicyModal" ng-click="alp.getAlarmPolicy(item)">{{ item.name }}</a></td>-->
                <td class="text-left link"><a href="#/iaas/alarm/policy/{{ item.id }}">{{ item.name }}</a></td>
                <td class="text-left">{{ item.expression }}</td>
                <td><span ng-repeat="matchBy in item.matchBy">{{ matchBy }}<br /></span></td>
                <td><span ng-class="alarmSeverityClass(item.severity)">{{ item.severity }}</span></td>
              </tr>
              <tr ng-show="alp.alarmPolicyList.length == 0" class="text-center">
                <td colspan="5">No Data Available.</td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-info btn-block medium"
                  ng-show="alp.totalCount > 0" ng-click="alp.getAlarmPolicyList()"
                  ng-disabled="alp.alarmPolicyList.length >= alp.totalCount">
            <span ng-bind-html="alp.moreButton"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Delete</h4>
      </div>
      <div class="modal-body">
        삭제하시겠습니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default small" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger small" data-dismiss="modal" ng-click="alp.deleteAlarmPolicy()">Delete</button>
      </div>
    </div>
  </div>
</div>
