<div class="loading-container" ng-show="loading"><div loading is-shown="loading" class='loading loading--audioWave'></div></div>
<!--<div class="container">-->
<div class="sidebar-body">
  <div class="row sidebar-row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          Alarm Notification
        </div>
        <div class="panel-body">
          <div class="form-inline" style="margin-bottom: 20px;">
            <button class="btn btn-primary small" data-toggle="modal" data-target="#infoModal" ng-click="aln.detail=null">Create</button>
            <button class="btn btn-danger small" ng-show="aln.checkedCnt > 0" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
          <table class="table table-condensed">
            <colgroup>
              <col style="">
              <col style="">
              <col style="">
            </colgroup>
            <thead>
            <tr>
              <th class="text-center"><input type="checkbox" ng-model="aln.selectAll" ng-click="aln.checkAllNotification()" ng-checked="aln.checkedCnt == aln.alarmNotificationList.length"></th>
              <th class="text-center">Name</th>
              <th class="text-center">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="aln.alarmNotificationList.length > 0" ng-repeat="item in aln.alarmNotificationList" class="text-center">
              <td><input type="checkbox" ng-click="aln.checkNotification(item)" ng-model="item.select"></td>
              <td class="link"><a href data-toggle="modal" data-target="#infoModal" ng-click="aln.getAlarmNotification(item)">{{ item.name }}</a></td>
              <td>{{ item.email }}</td>
            </tr>
            <tr ng-show="aln.alarmNotificationList.length == 0" class="text-center">
              <td colspan="3">No Data Available.</td>
            </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-info btn-block small"
                  ng-show="aln.totalCount > 0" ng-click="aln.getAlarmNotificationList()"
                  ng-disabled="aln.alarmNotificationList.length >= aln.totalCount">
            <span ng-bind-html="aln.moreButton"></span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="infoModalLabel">Alarm Notification - {{ aln.detail.name || 'Registration' }}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="Name" ng-model="aln.detail.name">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Email" ng-model="aln.detail.email">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default small" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary small" data-dismiss="modal" ng-click="aln.saveAlarmNotification()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Delete {{ aln.detail.name }}</h4>
      </div>
      <div class="modal-body">
        삭제하시겠습니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default small" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger small" data-dismiss="modal" ng-click="aln.deleteAlarmNotification()">Delete</button>
      </div>
    </div>
  </div>
</div>
