<div class="loading-container" ng-show="loading"><div loading is-shown="loading" class='loading loading--audioWave'></div></div>
<div class="sidebar-body">
  <div class="row sidebar-row">

    <div class="panel-heading overview">
      Cell
    </div>
    <div class="summary-gridster" gridster="cellOverviewOptions">
      <ul>
        <li gridster-item="item" data-toggle="modal" data-target="#cellOverviewList" ng-repeat="item in cellOverviewItems" ng-click="pctn.getCellOverviewList(item, $event)"
            ng-style="{'border-bottom-color': item.color, 'cursor': (item.id == 'running' || item.id == 'total') && 'initial'}">
          <div class="box">
            <div class="box-content">
              <div class="left">
                <div class="row">
                  <div ng-style="{'color': item.color, 'font-size':'xx-large', 'font-weight': 'bold'}">{{ this[item.count] || 0 }}</div>
                </div>
                <div class="row">
                  <div>{{ item.name }}</div>
                </div>
              </div>
              <div class="right" ng-style="{'background-image': 'url(assets/images/overview/overview_icon0'+{{ $index+1 }}+'.png)'}">
                <div class="box-header-btns pull-right" ng-show="loadingCellOverview">
                  <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="panel-heading overview">
      Container
    </div>
    <div class="summary-gridster" gridster="containerOverviewOptions">
      <ul>
        <li gridster-item="item" data-toggle="modal" data-target="#containerOverviewList" ng-repeat="item in containerOverviewItems" ng-click="pctn.getContainerOverviewList(item.id, item.name, $event, false)"
            ng-style="{'border-bottom-color': item.color, 'cursor': (item.id == 'running' || item.id == 'total') && 'initial'}">
          <div class="box">
            <div class="box-content">
              <div class="left">
                <div class="row">
                  <div ng-style="{'color': item.color, 'font-size':'xx-large', 'font-weight': 'bold'}">{{ this[item.count] || 0 }}</div>
                </div>
                <div class="row">
                  <div>{{ item.name }}</div>
                </div>
              </div>
              <div class="right" ng-style="{'background-image': 'url(assets/images/overview/overview_icon0'+{{ $index+1 }}+'_1.png)'}">
                <div class="box-header-btns pull-right" ng-show="loadingContainerOverview">
                  <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Container Summary
        </div>
        <div class="panel-body">

          <form class="form-inline">
            <div class="form-group">
              <select class="form-control" ng-model="selSearchCondition">
                <option value="name">Name</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchKeyword">
            </div>
            <div class="form-group time">
              <button class="btn" ng-click="pctn.getContainerSummary(null, selSearchCondition);"></button>
            </div>
          </form>

          <table class="table process">
            <colgroup>
              <col style="width:10%;" />
              <col style="" />
              <col style="" />
              <col style="" />
              <col style="" />
              <col style="" />
              <col style="" />
            </colgroup>
            <thead>
              <tr>
                <th class="text-center">Zone</th>
                <th class="text-center">Cell</th>
                <th class="text-center">Application</th>
                <th class="text-center">Container</th>
                <th class="text-center">Running</th>
                <th class="text-center">Critical</th>
                <th class="text-center">Warning</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" ng-repeat="item in pctn.containerSummary" ng-class="item.select" ng-click="pctn.getCellContainerRelationInfo(item)" >
                <td>{{ item.zoneName }}</td>
                <td>{{ (item.cellCnt | number) || 0 }}</td>
                <td>{{ (item.appCnt | number) || 0 }}</td>
                <td>{{ (item.containerCnt | number) || 0 }}</td>
                <td><span class="summary-list-running">{{ (item.runningCnt | number) || 0 }}</span></td>
                <td><span class="summary-list-critical">{{ (item.criticalCnt | number) || 0 }}</span></td>
                <td><span class="summary-list-warning">{{ (item.warningCnt | number) || 0 }}</span></td>
              </tr>
              <tr ng-show="pctn.containerSummary == null" class="text-center">
                <td colspan="7">No Data Available.</td>
              </tr>
            </tbody>
          </table>

          <div class="row-pagination">
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                items-per-page="pageItems" class="pagination-md" direction-links="false" boundary-links="false"
                boundary-link-numbers="true" force-ellipses="true" ng-change="pageChanged()"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </ul>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Cell & Container Relationship <span ng-bind-html="pctn.selectedContainer"></span>
        </div>
        <div class="panel-body">
          <table class="table process" >
            <colgroup>
              <col style="" />
              <col style="" />
              <col style="" />
              <col style="" />
              <col style="" />
              <col style="" />
              <col style="" />
            </colgroup>
            <thead>
              <tr>
                <th class="text-center">Cell Name</th>
                <th class="text-center">Application</th>
                <th class="text-center">Container</th>
                <th class="text-center">Running</th>
                <th class="text-center">Critical</th>
                <th class="text-center">Warning</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" ng-repeat="item in pctn.cellSummary" ng-class="item.select">
                <td>{{ item.cellName }}</td>
                <td>{{ (item.appCnt | number) || 0 }}</td>
                <td>{{ (item.containerCnt | number) || 0 }}</td>
                <td><span class="summary-list-running">{{ (item.runningCnt | number) || 0 }}</span></td>
                <td><span class="summary-list-critical">{{ (item.criticalCnt | number) || 0 }}</span></td>
                <td><span class="summary-list-warning">{{ (item.warningCnt | number) || 0 }}</span></td>
              </tr>
              <tr ng-show="pctn.cellSummary == null" class="text-center">
                <td colspan="7">No Data Available.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-body table_bottom">
          <table class="tile-grid ">
            <colgroup>
              <col style="width:45%" />
              <col style="" />
            </colgroup>
            <tbody>
            <tr ng-repeat="cell in pctn.relationshipList">
              <th>{{ cell.cellName }} ( {{ cell.cellIp }} )</th>
              <td>
                <div class="tile" uib-tooltip-template="'app/paas/container/container_tooltip.html'" tooltip-class="uibTooltipCustom"
                     ng-style="{'cursor': (container.status == 'fail') && 'initial' }"
                     ng-repeat="container in cell.containers" ng-class="pctn.getTileColor(container.status)"
                     ng-click="pctn.goContainerDetail(container)">
                </div>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>


<!-- Modal - Cell Overview List -->
<div class="modal fade" id="cellOverviewList" tabindex="-1" role="dialog" aria-labelledby="cellOverviewListModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="min-width:620px; overflow-x: auto">
      <div class="loader-container" ng-show="loadingOverviewListPop"><div class='loader loader--audioWave'></div></div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="cellOverviewListModalLabel">{{ pctn.cellOverviewPopTitle }}</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed">
          <colgroup>
            <col style="width:10%;" />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
          </colgroup>
          <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Address</th>
              <th class="text-center">State</th>
              <th class="text-center">Core</th>
              <th class="text-center">CPU<br/>Used(%)</th>
              <th class="text-center">Total<br/>Memory(MB)</th>
              <th class="text-center">Memory<br/>Used(%)</th>
              <th class="text-center">Total<br/>Disk(MB)</th>
              <th class="text-center">Disk<br/>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in pctn.cellOverviewListPop" class="text-center" ng-click="pctn.goCellDetailView(item)" ng-style="{'cursor': (item.status == 'fail') && 'initial' }">
              <td>{{ item.cellName }}</td>
              <td>{{ item.cellIp }}</td>
              <td><span ng-style="textStatusStyle(item.status)">{{ item.status }}</span></td>
              <td>{{ item.core | number }}</td>
              <td><span ng-style="errStateStyle(item.cpuErrStat)">{{ (item.cpuUsage).toFixed(2) | number }}</span></td>
              <td>{{ pctn.Math.round(item.totalMemory) | number }}</td>
              <td><span ng-style="errStateStyle(item.memErrStat)">{{ (item.memoryUsage).toFixed(2) | number }}</span></td>
              <td><span ng-style="errStateStyle(item.diskRootErrStat)">{{ pctn.Math.round(item.totalDisk) | number }}</span></td>
              <td><span ng-class="pctn.common.alarmLevelStyle(item.diskStatus)">{{ item.diskStatus }}</span></td>
            </tr>
            <tr ng-show="pctn.cellOverviewNullPop" class="text-center">
              <td colspan="9">{{ pctn.cellOverviewNullPop }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Container Overview List -->
<div class="modal fade" id="containerOverviewList" tabindex="-1" role="dialog" aria-labelledby="containerOverviewListModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="min-width:620px; overflow-x: auto">
      <div class="loader-container" ng-show="loadingOverviewListPop"><div class='loader loader--audioWave'></div></div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="containerOverviewListModalLabel">{{ pctn.containerOverviewPopTitle }}</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed">
          <colgroup>
            <col style="width:10%;" />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
          </colgroup>
          <thead>
            <tr>
              <th class="text-center">Zone</th>
              <th class="text-center">Cell</th>
              <th class="text-center">App</th>
              <th class="text-center">Index</th>
              <th class="text-center">CPU<br/>Used(%)</th>
              <th class="text-center">Memory<br/>Used(%)</th>
              <th class="text-center">Disk<br/>Used(%)</th>
              <th class="text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in pctn.containerOverviewListPop" class="text-center" ng-click="pctn.goContainerDetailView(item)" ng-style="{'cursor': (item.status == 'fail') && 'initial' }">
              <td>{{ item.zoneName }}</td>
              <td>{{ item.cellName }}</td>
              <td>{{ item.appName }}</td>
              <td>{{ (item.appIndex | number) || 0 }}</td>
              <td><span ng-style="errStateStyle(item.cpuErrStat)">{{ (item.cpuUsage).toFixed(2) | number }}</span></td>
              <td><span ng-style="errStateStyle(item.memErrStat)">{{ (item.memoryUsage).toFixed(2) | number }}</span></td>
              <td><span ng-style="errStateStyle(item.diskErrStat)">{{ (item.diskUsage).toFixed(2) | number }}</span></td>
              <td><span ng-style="textStatusStyle(item.status)">{{ item.status }}</span></td>
            </tr>
          <tr ng-show="pctn.containerOverviewNullPop" class="text-center">
            <td colspan="8">{{ pctn.containerOverviewNullPop }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
